@import '../../styles/variables.scss';

.scan-modal{
	width: 100%;
	color: rgba(0, 0, 0, 0.65);
	&.modal {
		display: flex;
		align-items: center;
		padding: 20px 25px;
		background-color: #f7f9fb;
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		margin: 300px auto;
		width: 40%;
		outline: none;
		font-family: Rubik-Regular, sans-serif;
		min-width: 600px;
	}

	&.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.15);
	}
	
	p {
		text-align: left;
	}

	ul {
		list-style-type: none;
	}

	.footer {
		padding-top: 20px;
		display: flex;
		justify-content: flex-end;
	}

	.modal-header {
		display: flex;
		font-size: 18px;
		padding-bottom: 20px;
		.icon {
			font-size: 22px;
		}
	}
	
	.modal-body {
		font-size: 16px;

		.subscription-list {
			padding-left: 24px;
			padding-right: 80%;
			padding-top: 15px;
			padding-bottom: 15px;
			color: rgba(0,0,0,0.8);
			border: 1px solid rgba(0,0,0,0.2);
			border-radius: 5px;
			overflow: scroll;
			max-height: 100px;
		}
	}
}